<mat-card style="margin: 10px 0">
  <mat-grid-list cols="5" rows="1" rowHeight="100px">

    <!-- DISPLAY MODULE TITLE -->
    <mat-grid-tile>
      <app-info-display [title]='"Module Title"' [data]="name"></app-info-display>
    </mat-grid-tile>

    <!-- DISPLAY TEMPERATURE -->
    <mat-grid-tile>
      <app-info-display [title]='"Temperature"' [data]="temperature + '\u00B0C'"></app-info-display>
    </mat-grid-tile>

    <!-- DISPLAY HUMIDITY -->
    <mat-grid-tile>
      <app-info-display [title]='"Humidity"' [data]="humidity + '\u00B0C'"></app-info-display>
    </mat-grid-tile>

    <!-- DISPLAY STATUS -->
    <mat-grid-tile>
      <div [ngSwitch]="status">
        <!-- Case disconnected -->
        <button *ngSwitchCase="1" mat-stroked-button disableRipple>
          <app-info-button [type]='"DISCONNECTED"'></app-info-button>
        </button>
        <!-- Case smoke detected -->
        <button *ngSwitchCase="2" mat-raised-button disableRipple color="warn">
          <app-info-button [type]='"SMOKE"'></app-info-button>
        </button>
        <!-- Case fire detected -->
        <button *ngSwitchCase="3" mat-raised-button disableRipple color="warn">
          <app-info-button [type]='"FIRE"'></app-info-button>
        </button>
        <!-- Nothing detected -->
        <button *ngSwitchDefault mat-stroked-button disableRipple color="primary">
          <app-info-button [type]='"SAFE"'></app-info-button>
        </button>
      </div>

    </mat-grid-tile>
    <!-- DISPLAY BUTTON -->
    <mat-grid-tile>
      <button *ngIf="isLight" mat-flat-button (click)="isLight = !isLight" color="primary">
        <app-info-button [type]='"ON"'></app-info-button>
      </button>
      <button *ngIf="!isLight" mat-stroked-button (click)="isLight = !isLight" color="primary">
        <app-info-button [type]='"OFF"'></app-info-button>
      </button>
      <button mat-flat-button color="primary" style="margin: 0 5px;" (click)='openDialog()'>
        <app-info-button [type]='"EDIT"'></app-info-button>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
